.products{
    width: 100%;
}
.products h1{
    font-size: 20px;
    font-weight: bold;
    color: white;
    border-bottom: 1px solid white;
}
.items{
    background-color: white;
    width: 100%;
}
.items th{
    text-align: start;
    padding: 7px;
}
.items tr :is(th , td){
    padding: 5px;
}
.items tbody:nth-child(even){
    padding: 10px;
    
    background-color: rgba(146, 146, 146, 0.351);
}
.items tbody td{
    font-size: 13px;
}
.action{
    display: flex;
    gap: 4px;
}

.loading{
    position: fixed;
    background-color: white;
    min-width: 100vw;
    min-height: 100vh;
    left: 0px;
    top: 70px;
}
.loading img{
    position: absolute;
    left: 50%;
    top: 50%;
}